---
title: Message
---
extends layouts/_layout
block content
  .message
    .message__intro
      .container
        strong Messaging Platforms
        h2 Your customers crave to message you. let them.
        p Make interacting with your business as easy as messaging frineds and family, Over the digital channels your customers use everyday.
    .message__info
      .container
        h2 Business communication meets personal messaging
        b As per latest global statistics over 2 billion conversations happen over digital channels every day!
        p The biggest channels of them all like Facebook Messenger, Whatsapp, Wechat, Apple Busines Messaging have overtaken our daily lives by empowering us with a powerful new tool – which enables us to get things done in a highly personalized and supremely convenient way.
        p Businesses have awaken ed to this changed consumer behavior and are rapidly re - constructing their customer experiences around messaging. Messaging has replaced clunky IVRs, long wait times, incompetent agents, frustrating visits to outlets and many such business interactions.