section.channels
  .container
    h2 Meet the other channels
    .row
      .col-sm-6.col-xs-12
        .channels__block
          h3 Messaging Channels
          p Make interacting with your business for your customers as easy as messaging friends and family.
          a(href="#") Learn More
      .col-sm-6.col-xs-12
        .channels__block
          h3 Voice Channels
          p Enable the most natural form of experience with voice technology that mirrors real life human conversations
          a(href="#") Learn More
      .col-xs-12
        .channels__btn
          strong Let's get you started
          p Our friendly executives are waiting to help you get going
          a(href="#") Setup Your Custom Demo
            span 100% Free to get started