section.intro
  #pulsating-background-hero.pulsating-background-container(style='background-color: rgb(7, 2, 38);')
    .pulsating-background
      .pulsating-background__circle.pulsating-background__circle--positioned-from-bottom(style='animation-delay: 0s; width: 1960px; height: 1960px; background-color: rgb(17, 10, 58); left: 50%; bottom: -50vh;')
      .pulsating-background__circle.pulsating-background__circle--positioned-from-bottom(style='animation-delay: -0.3s; width: 1723px; height: 1723px; background-color: rgb(26, 17, 78); left: 50%; bottom: -40vh;')
      .pulsating-background__circle.pulsating-background__circle--positioned-from-bottom(style='animation-delay: -0.6s; width: 1487px; height: 1487px; background-color: rgb(36, 25, 98); left: 50%; bottom: -30vh;')
      .pulsating-background__circle.pulsating-background__circle--positioned-from-bottom(style='animation-delay: -0.9s; width: 1250px; height: 1250px; background-color: rgb(46, 32, 118); left: 50%; bottom: -20vh;')
      .pulsating-background__circle.pulsating-background__circle--positioned-from-bottom(style='animation-delay: -1.2s; width: 1013px; height: 1013px; background-color: rgb(56, 40, 138); left: 50%; bottom: -10vh;')
      .pulsating-background__circle.pulsating-background__circle--positioned-from-bottom(style='animation-delay: -1.5s; width: 777px; height: 777px; background-color: rgb(65, 47, 158); left: 50%; bottom: 0vh;')
      .pulsating-background__circle.pulsating-background__circle--positioned-from-bottom(style='animation-delay: -1.8s; width: 540px; height: 540px; background-color: rgb(75, 55, 178); left: 50%; bottom: 10vh;')
  .container
    .intro__title
      span 
        b DX CARD
        | (Digital Experience Card)
      h1 World's First 
        b Digital Card 
        | for Customer Experience.
      p Help your customers with the most convenient way to manage post purchase journey in one place, with a c
        strong onversational experience card.
      ul
        li
          i.icon.icon-check-1
          | Free 14-day trial
        li
          i.icon.icon-check-1
          | Easy setup
        li
          i.icon.icon-check-1
          | Cancel anytime
